
.idea/.idea.LeetCodeCSharp/.idea/copilot/chatSessions/xd.lck
.idea/.idea.LeetCodeCSharp/.idea/copilot/chatSessions/00000000000.xd
*.dll
*.dll
*.dll
*.dll
*.dll
/LeetCodeCSharp/obj/Debug/net8.0/refint
*.dll
*.pdb
*.cache
*.dll
*.dll
*.cache
*.dll
/LeetCodeCSharp/obj
/LeetCodeCSharp/bin

.fake
/.VSCodeCounter
/Benchmark/bin
/Benchmark/bin
/Benchmark/obj
/.idea
